html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', Arial;
}
