$bg_aqua: #3aadc7;
$bg_purple: #676cdb;
$bg_light_blue: #222a36;
$bg_dark_blue: #131a24;
$bg_dark_blue_opacity: #131a24b4;

$title_name: clamp(50px, 8vw, 96px);
$title_subtext: clamp(20px, 3vw, 26px);
$general_text: 20px;
$small_text: 16px;
$section_header: clamp(42px, 4.75vw, 55px);
$project_title: clamp(42px, 4.75vw, 55px);
