$bg_aqua: #3aadc7;
$bg_purple: #676cdb;
$bg_blue1: #222a36;
$bg_blue2: #131a24;
$bg_dark_blue_opacity: #131a24b4;
$bg_form: #1a222e;

$title_name: 84px;
$title_subtext: 23px;
$general_text: 20px;
$small_text: 16px;
$section_header: clamp(42px, 4.75vw, 55px);
$project_title: clamp(42px, 4.75vw, 55px);
